.factoid {
  background: var(--violet);
  padding: 32px 48px;
}
.factoid__item {
  text-align: center;
}
.factoid__item + .factoid__item {
  margin-top: 24px;
}
.factoid__text {
  color: white;
}
.factoid__item span {
  display: block;
  font-family: Tektur;
  font-size: 48px;
  letter-spacing: -0.3px;
}
.factoid__marker {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  display: inline-block;
  transform: translate(0, -4px);
}
.factoid__item span b {
  font-weight: 400;
}
.factoid__item small {
  font-weight: 600;
  font-size: 24px;
}
.factoid__img img {
  display: block;
  margin: auto;
}
@media (min-width: 769px) {
  .factoid {
    padding-left: 10.5vw;
    padding-right: 0;
  }
  .factoid__content {
    display: flex;
  }
  .factoid__item {
    width: 33.33%;
    padding-right: 32px;
    text-align: left;
  }
  .factoid__item + .factoid__item {
    margin-top: 0;
  }
  .factoid__img img {
    margin: 0;
  }
}
@media (min-width: 1025px) {
  .factoid {
    padding: 48px 0 48px 17vw;
  }
  .factoid__item span {
    font-size: 6vw;
  }
  .factoid__marker {
    font-size: 4.8vw;
    font-weight: 400;
  }
  .factoid__item small {
    font-size: 2vw;
  }
}
